/* style.css */
body{
    background-color: black;
}

.video-background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.video-background video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.up-info{
    position: absolute;
    color: #fff;
    bottom: 13%;
    left: 0;
    display: flex;
    flex-direction: row;
}

.up-name{
    font-weight: bold;
    font-size: 1rem;
    margin: 0.2rem;
    margin-top: 0.5rem;
}

.up-follower{
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0.2rem;
    margin-top: 0rem;
}

.up-follow{
    margin: 0.5rem;
    height: 1.6rem;
}

.up-avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: #fff solid 0.1rem;
    margin: 0.2rem;
}

.title{
    font-weight: bold;
    font-size: 1rem;
    margin: 0.2rem;
    position: absolute;
    color: #fff;
    bottom: 10%;
    left: 1%;
    display: flex;
}

.play{
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0.2rem;
    position: absolute;
    color: #fff;
    bottom: 7%;
    left: 1%;
    display: flex;
}

.bullet{
    height: 2.5rem;
    width: auto;
    position: absolute;
    color: #fff;
    bottom: 1%;
    left: 0%;
    display: flex;
    margin: 5px;
}

.icons{
    position: absolute;
    color: #fff;
    bottom: 8%;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    align-items: center;
    justify-content: center;
}

.icons-icon{
    width: 2.5rem;
    height: 2.5rem;
}

.icons-icon img{
    width: 100%;
    height: auto;
}

.icons-info{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0.2rem;
    margin-bottom: 0.8rem;
}

.detail{
    position: absolute;
    height: 3rem;
    width: auto;
    bottom: 1%;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    align-items: center;
    justify-content: center;
}

.back{
    position: absolute;
    height: 1.5rem;
    width: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}

.watching{
    position: absolute;
    font-size: 0.8rem;
    color:#fff;
    width: auto;
    top: 0;
    left: 14%;
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
    align-items: center;
    justify-content: center;
}

.search{
    position: absolute;
    height: 1.5rem;
    width: auto;
    top: 0;
    right: 1%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}
